<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>


    <link href="{{ constant('BASENAME') }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ constant('BASENAME') }}/css/stylesheet.css" rel="stylesheet">
</head>
<body>
    {% block menu %}
        {% include  'includes/menu.twig'%}
    {% endblock %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ constant('BASENAME') }}/js/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="{{ constant('BASENAME') }}/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="{{ constant('BASENAME') }}/js/main.js" charset="utf-8"></script>
</body>
</html>
